<mat-toolbar>
  Keeper app for home
</mat-toolbar>
<div class="jumbotron bg-transparent text-center">
  <div *ngIf="!loggedIn" class="card text-center">
    <div class="card-block">
      <h4 class="card-title">Not signed in</h4>
    </div>
    <div id="gSignInWrapper">
      <span class="label">Sign in with:</span>
      <div id="customBtn" class="customGPlusSignIn" (click)="signInWithGoogle()">
        <span class="icon"></span>
        <span class="buttonText">Google</span>
      </div>
    </div>
  </div>
  <div *ngIf="loggedIn" class="card text-center">
    <router-outlet></router-outlet>
    <div id="gSignInWrapper">
      <span class="label">Sign out:</span>
      <div id="customBtn" class="customGPlusSignIn" (click)="signOut()">
        <span class="icon"></span>
        <span class="buttonText">Google</span>
      </div>
    </div>
  </div>
</div>