<!-- Toolbar -->
<mat-toolbar color="btn-primary" class="header">
    <span class="title-center mat-h1">Keeper Login</span>
</mat-toolbar>

<!-- wrapper -->
<mat-sidenav-container>
    <mat-sidenav-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username">
          <!-- error -->
          <mat-error *ngIf="errorHandling('username', 'required')">
            You must provide a <strong>username</strong>
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password" formControlName="password">
          <!-- error -->
          <mat-error *ngIf="errorHandling('password', 'required')">
            You must provide a <strong>password</strong>
          </mat-error>
        </mat-form-field>

        <!-- Submit -->
        <div class="button-wrapper">
            <button mat-flat-button color="primary">Login</button>
        </div>

      </form>
    </mat-sidenav-content>
</mat-sidenav-container>
