<div>
        <br>
        <mat-card>
          <section class="mat-typography">
              <h3>Update Login</h3>
          </section>
          <mat-divider></mat-divider>
          <br>
          <form [formGroup]="updateForm" class="edit-form">
            <mat-form-field class="field-full-width">
              <input placeholder="Username" matInput formControlName="username" #username>
            </mat-form-field>
            <mat-form-field class="field-full-width">
              <input placeholder="Password" matInput formControlName="password" #password>
            </mat-form-field>
            <mat-form-field class="field-full-width">
              <input placeholder="Established" matInput formControlName="established" #established>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                    <input placeholder="Comments" matInput formControlName="comments" #comments>
            </mat-form-field>
            <mat-divider></mat-divider>
            <br><br>
            <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
            <button type="submit" (click)="updateLogin(username.value, password.value, established.value, comments.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
          </form>
        </mat-card>
    </div>