<div>
        <br>
        <mat-card>
          <button mat-raised-button color="primary" routerLink="/create">Create New Login</button>
          <br><br>
          <mat-divider></mat-divider>
          <br>
          <div id="block_container">
            <div id="bloc1">
              <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
            </div>
            <div id="bloc2">
              <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
            </div>
          </div>

          <table mat-table [dataSource]="logins" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
              <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
      
            <!-- <ng-container matColumnDef="password">
              <th mat-header-cell *matHeaderCellDef> Password </th>
              <td mat-cell *matCellDef="let element"> {{element.password}} </td>
            </ng-container> -->
      
            <ng-container matColumnDef="established">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Established </th>
              <td mat-cell *matCellDef="let element"> {{element.established}} </td>
            </ng-container>
      
            <ng-container matColumnDef="comments">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
              <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
            </ng-container>
      
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="mat-column-right"> Actions </th>
                <td mat-cell *matCellDef="let element" class="mat-column-right">
                  <button mat-button color="primary" (click)="editLogin(element._id)">Edit</button>
                  <button mat-button color="warn" (click)="deleteLogin(element._id, element.comments)">Delete</button>
                </td>
              </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </mat-card>
      </div>
